<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chat (<%= loginName %>)</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <script src='/main.js'></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <% if (errMsg) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert"><%= errMsg %></div>
    <% } else if (successMsg) { %>
        <div class="alert alert-success" role="alert"><%= successMsg %></div>
    <% } %>
    <br>
    <select class="form-select" name="peopleSelect" id="peopleSelect" onchange="getMessages('<%= loginName %>', '<%= userFromDB.role %>');">
        <option value="" selected disabled hidden>Choose someone</option>
        <% users.forEach((user) => { %>
            <% if (user.username !== loginName) { %>
                <option value="<%= user.username %>"><%= user.username %></option>
            <% } %>
        <% }); %>
    </select>
    <% if (userFromDB.role === 'admin') { %>
        <br>
        <div class="btn-group center-form-x">
            <button id="promote" class="btn btn-success" onclick="promoteAdmin();" disabled><i class="fa fa-shield"></i> Promote as admin</button>
            <button id="revoke" class="btn btn-danger" onclick="revokeAdmin();" disabled><i class="fa fa-user-times"></i> Remove admin</button>
        </div>
    <% } %>
    <br>
    <br>
    <ul class="list-group" id="messages"></ul>
    <br>
    <form enctype="multipart/form-data" class="center-form-x col-md-3 col-lg-3 col-sm-5 col-xs-8">
        <div class="form-group">
            <label for="smMessage">Your message</label>
            <input type="text" name="smMessage" id="smMessage" class="form-control" placeholder="Message" required>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-danger" id="sendMessageButton" disabled onclick="sendMessage(event, '<%= loginName %>');"><i class="fa fa-envelope"></i> Send</button>
        </div>
    </form>
</body>
</html>