<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <script src='/main.js'></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <form method="POST" action="/list/filter" class="col-md-3 col-lg-3 col-sm-5 col-xs-8 center-form-x">
        <div class="form-group">
            <label for="sCity">City</label>
            <input type="text" class="form-control" name="sCity" id="sCity" placeholder="City" required>
        </div>
        <div class="form-group">
            <label for="sMinPrice">Minimum price</label>
            <input type="number" class="form-control" name="sMinPrice" id="sMinPrice" placeholder="Minimum price" required>
        </div>
        <div class="form-group">
            <label for="sMinPrice">Maximum price</label>
            <input type="number" class="form-control" name="sMaxPrice" id="sMaxPrice" placeholder="Maximum price" required>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-danger"><i class="fa fa-filter"></i> Filter</button>
        </div>
    </form>

    <% if (!errMsg) { %>
        <ul class="list-group">
            <% advertisements.forEach((adv) => { %>
                <li class="list-group-item">
                    <p>Advertisement ID: <%= adv.ID %></p>
                    <p>Address: <%= adv.Address %></p>
                    <p>City: <%= adv.City %></p>
                    <p>Price: <%= adv.Price %></p>

                    <button class="btn btn-danger"><i class="fa fa-question"></i> Details</button>
                    <a href="/advertisement/details/<%= adv.ID %>"><button class="btn btn-outline-danger"><i class="fa fa-image"></i> Photos and interactions</button></a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <div class="alert alert-danger" role="alert"><%= errMsg %></div>
    <% } %>
</body>
</html>