<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <script src='/main.js'></script>
</head>
<body>
    <nav>
        <a href="/hirdetesek">Beszúrás</a>
        <a href="/">Listázás</a>
        <a href="/felhasznalo">Regisztráció</a>
    </nav>

    
        <h3>ID: <%= hirdetesek.HID %></h3>
        <ul>
            <li>Cím: <%= hirdetesek.Cim %></li>
            <li>Telepules: <%= hirdetesek.Telepules %></li>
            <li>Felszinterulet: <%= hirdetesek.Felszinterulet %></li>
            <li>Ar: <%= hirdetesek.Ar %></li>
            <li>Szobak Szama: <%= hirdetesek.Szobak %></li>
            <li>Datum: <%= hirdetesek.Datum %></li>
            <li>Feltöltötte: <%= hirdetesek.Nev %></li>
        </ul>
    

    <div id="fotok">
        <% fotok.forEach((f) => { %>
            <div class="fotok-item">
                <img alt="<%= f.KID %>" src=<%= f.KepPath %>>
                <button id="<%= f.KID %>" class="details" onclick="deletePhoto(this.id, <%= f.HID %>);">Fénykép törlése</button>
            </div>
        <% }) %>
    </div>


        <form method="POST" action="/ad/submitPhoto/<%= hirdetesek.HID %>" enctype="multipart/form-data">
            <p>Kép feltöltése hírdetéshez</p>
            <label for="feltoltesfoto">Fénykép:</label>
            <input type="file" name="Fenykep" id="feltoltesfoto" required>
    
            <input type="submit" value="Feltöltés!">
        </form>


    <p><%= errorMsg %></p>
</body>
</html>