<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!-- <script src='hirdetesValid.js'></script> -->
</head>
<body>
    <nav>
        <a href="hirdetes.html">Beszúrás</a>
        <a href="/">Listázás</a>
        <a href="kereses.html">Keresés</a>
    </nav>

    <% hirdetesek.forEach((h) => { %>
        <h3>ID: <%= h.HID %></h3>
        <ul>
            <li>Cím: <%= h.Cim %></li>
            <li>Telepules: <%= h.Telepules %></li>
            <li>Felszinterulet: <%= h.Felszinterulet %></li>
            <li>Ar: <%= h.Ar %></li>
            <li>Szobak Szama: <%= h.Szobak %></li>
            <li>Datum: <%= h.Datum %></li>
        </ul>
    <% }) %>

    <div id="fotok">
        <% fotok.forEach((f) => { %>
            <img alt="<%= f.KID %>" src=<%= f.KepPath %>>
        <% }) %>
    </div>
    
</body>
</html>